html {
    font-family: sans-serif;
    line-height: 1.15;
    height: 100%;
}

body {
    margin: 0;
    background: radial-gradient(ellipse at center, #fafafa 0%, #dddddd 100%);
    filter: progid:DXImageTransform.Microsoft.gradient( startColorstr='#fafafa', endColorstr='#dddddd',GradientType=1 );
    font-family: "proxima-nova";
}

button {
    overflow: visible;
    font: inherit;
    margin: 0;
    text-decoration: none;
}

.pagination::after,
.pagination::before {
    content: '';
    display: table;
}

.pagination::after {
    clear: both;
}

.pagination_wrapper {
    background: linear-gradient(to right, rgba(255,255,255,0) 0%, white 17%, #fff 83%, rgba(255,255,255,0) 100%);
    filter: progid:DXImageTransform.Microsoft.gradient( startColorstr='#00ffffff', endColorstr='#00ffffff',GradientType=1 );
    height: 50px;
    left: 50%;
    position: absolute;
    text-align: center;
    transform: translate(-50%, -50%);
    top: 50%;
    width: 700px;
}

.pagination_wrapper::after,
.pagination_wrapper::before {
    background: linear-gradient(to right, transparent 0%, rgba(0, 0, 0, 0.1) 17%, rgba(0, 0, 0, 0.1) 83%, transparent 100%);
    filter: progid:DXImageTransform.Microsoft.gradient( startColorstr='#00000000', endColorstr='#00000000',GradientType=1 );
    content: '';
    height: 1px;
    left: 0;
    position: absolute;
    width: 100%;
}

.pagination_wrapper::before {
    top: -1px;
}

.pagination_wrapper::after {
    bottom: -1px;
}

.pagination {
    display: inline-block;
    list-style-type: none;
    margin: 0;
    padding: 0;
}

.pagination li {
    display: block;
    float: left;
    padding: 5px;
}

.pagination li:first-child {
    border: none;
}

.pagination button,
.pagination span {
    background: none;
    border: none;
    border-radius: 50%;
    box-sizing: border-box;
    color: rgba(0, 0, 0, 0.6);
    display: block;
    font-size: 16px;
    height: 40px;
    line-height: 40px;
    min-width: 40px;
    padding: 0;
}

.pagination button {
    outline: none;
    position: relative;
    transition: all 170ms linear;
}

.pagination button::before {
    background: rgba(0,0,0,0.6);
    border-radius: 50%;
    content: '';
    cursor: pointer;
    height: 0;
    left: 50%;
    opacity: 0;
    position: absolute;
    transform: translate(-50%, -50%);
    transition: all 170ms linear;
    top: 50%;
    width: 0;
}

.pagination button:hover:not(.active) {
    color: #000;
}

.pagination button:hover:not(.active)::before {
    animation: hoverAnimation 510ms linear forwards;
    height: 40px;
    width: 40px;
}

@keyframes hoverAnimation {
    from {
        opacity: 1;
    }
    to {
        opacity: 0;
    }
}

.pagination button.active {
    background: rgba(0,0,0,0.1);
    color: #000;
}

@media (max-width: 800px) {
    html, body {
        height: 600px;
        overflow: hidden;
        width: 800px;
    }
}

